<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="Description" content="協助你長期追蹤台灣 YouTuber 熱門頻道的訂閱數、觀看數、發佈影片等統計數據，提供 YouTuber 排行榜，分析報導等資訊，找出最適合你的聯盟行銷管道、以及 KOL 自媒體網紅合作機會。" />
<meta property="og:image" content="https://youtuber.pada-x.com/images/icon.png" />
<title>小國主義</title>
<link rel="icon" type="image/png" href="images/icon-16.png" />
</head>
<body>
	<div id="root"><%= root %></div>
	<script src="/index.js"></script>
</body>
</html>