<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="Description" content="<%= head.description %>" />
<meta property="og:image" content="https://smallcountrilism.pada-x.com/images/logo.png" />
<title><%= head.title %></title>
<link rel="icon" type="image/png" href="/images/icon-16.png" />
<link rel="stylesheet" type="text/css" href="/styles/index.css" />
<script>
window.__INIT_DATA__=<%- JSON.stringify(initData) %>;
</script>
</head>
<body>
	<div id="root"><%- root %></div>
	<script src="/index.js"></script>
</body>
</html>