<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="Description" content="小國主義是用來挽救、鞏固、強化人民信心的主義。喚醒人民對國家，特別是小型國家的認同，進而孕育出精緻堅韌的力量。" />
<meta property="og:image" content="https://smallcountrilism.pada-x.com/images/logo.png" />
<title>內容管理 - 小國主義</title>
<link rel="icon" type="image/png" href="/images/logo-32.png" />
</head>
<body>
	<div id="root"></div>
	<script src="/mgr.js"></script>
</body>
</html>