@import "nav.css";
html{
	width:100%;height:100%;
}
body{
	width:100%;height:100%;
	margin:0px;padding:0px;
	font-size:24px;font-family:"Microsoft JhengHei", Arial, sans-serif;
	letter-spacing:2px;
}
h1, h2, h3, h4{
	margin:0px;padding:0px;
}
a{
	text-decoration:none;
	color:inherit;
}
#root{
	--main-color:#222222;

	--nav-headline-color:#ffffff;
	--nav-bg-color:#222222;--nav-color:#888888;--nav-color-active:#eeeeee;
	--nav-width:200px;
	
	--nav-height-mobile:50px;--nav-font-size-mobile:16px;
}
nav{
	position:fixed;width:var(--nav-width);height:100%;
	background-color:var(--nav-bg-color);color:var(--nav-color);
	padding:10px;box-sizing:border-box;
}
main{
	color:var(--main-color);margin-left:var(--nav-width);
	padding:10px 20px;padding-bottom:40px;box-sizing:border-box;
}
@media (max-width:800px){
	nav{
		left:0px;top:0px;
		width:100%;height:var(--nav-height-mobile);
		display:flex;align-items:center;
		font-size:var(--nav-font-size-mobile)
	}
	main{
		margin-left:0px;margin-top:var(--nav-height-mobile);
	}
}
/* .description */
main>.description{
	margin-top:10px;margin-bottom:25px;
	line-height:1.5em;
}
/* section.imagery in HomePage */
main>section.imagery{
	display:flex;width:100%;max-width:1000px;
}
main>section.imagery>.logo{
	flex:1;
}
main>section.imagery>.logo>img{
	width:100%;border:1px solid black;
}
main>section.imagery>.text{
	flex:1;margin-left:20px;
	line-height:1.5em;
}
main>section.imagery>.text>.facebook{
	margin-top:40px;display:flex;align-items:center;
	width:50%;min-width:240px;border:1px solid black;
}
main>section.imagery>.text>.facebook>img{
	width:40px;height:40px;margin-right:10px;
}
@media (max-width:800px){
	main>section.imagery{
		flex-wrap:wrap;
	}
	main>section.imagery>.logo{
		flex:none;width:100%;
	}
	main>section.imagery>.text{
		flex:none;width:100%;margin-left:0px;margin-top:20px;
	}
	main>section.imagery>.text>.facebook{
		margin-top:20px;
	}
}
/* section.stories in ChapterPage */
main>section.stories>.story{
	display:block;
}
main>section.stories>.story>.title{
	margin-bottom:10px;
}
main>section.stories>.story>.abstract{
	line-height:1.5em;
}
/* article.story in StoryPage */
main>article.story>.title{
	margin-bottom:10px;
}
main>article.story>.content{
	line-height:1.5em;
}