nav>.headline{
	color:var(--nav-headline-color)
}
nav>.chapters{
	line-height:45px;
	margin-top:20px;
}
nav>.chapters>.chapter{
	display:block;
}
nav>.chapters>.active{
	color:var(--nav-color-active)
}
@media (max-width:800px){
	nav>.chapters{
		line-height:normal;
		margin-top:0px;margin-left:10px;
		display:flex;flex:auto;justify-content:flex-end;
	}
	nav>.chapters>.chapter{
		display:block;padding:0px 5px;
	}
}